doctype html
html(lang="en")
  head
    title jortSort &bull; for us, by us
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Varela+Round")
    link(rel="stylesheet", href="/css/base.css")

  body(id!="#{bodyID}")
    header
      .content
        img(src="/assets/jorts.png")
        h1 jortSort
        h2 a framework for sorting ambitious web applications

    nav(data-stellar-background-ratio="0.5")
      ul
        li
          a(href="#what") what is jortSort?
        li
          a(href="#how") how does it work?
        li
          a(href="#where") where do you get it?

    .container
      block content

    footer
      p 
        made by 
        a(href="http://twitter.com/jennschiffer") jenn schiffer
        |  &bull; 
        a(href="http://github.com/jennschiffer/jortsort") github
        |  &bull; logo by 
        a(href="http://www.isaacdurazo.com/") isaac durazo
    #script(src="/js/mylib-min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/js/stellar.min.js")
    script
      $(window).stellar(); 
      $('a[href*=#]:not([href=#])').click(function() { if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {var target = $(this.hash);target = target.length ? target : $('[name=' + this.hash.slice(1) +']');if (target.length) { $('html,body').animate({ scrollTop: target.offset().top }, 5000);  return false;  } } });
    <script src="//pmetrics.performancing.com/js" type="text/javascript"></script><script type="text/javascript">try{ clicky.init(22835); }catch(e){}</script><noscript><p><img alt="Performancing Metrics" width="1" height="1" src="//pmetrics.performancing.com/22835ns.gif" /></p></noscript>