global-reset()

body
  font-family: 'Varela Round', sans-serif
  background-color: #fffff3
  text-align: center

h1
  font-weight bold
  font-size 2em

h2
  font-weight bold
  margin 1em 0  
  font-size 1.5em

header
  background-color: dodgerblue
  padding: 20px

nav ul li
  display inline-block

  a
    padding 10px
    &:hover
      background-color blue
      color white

.container
  padding 10px
  
p
  margin 1em 0

footer
  font-size .8em