global-reset()

color-teal = #203F4A
color-denim = #5EA5B5
color-denim-shadow = #5397A1
color-red = #D04B58
color-belt = #764D2A
color-belt-dark = #4D331D
color-gray = #929291
color-beige = #fffff3

body
  font-family 'Varela Round', sans-serif
  background-color color-beige
  text-align center
  color color-belt-dark

a 
  text-decoration none
  color color-denim

code
  font-family monospace

h1
  font-weight bold
  font-size 4em
  color color-beige
  text-shadow 3px 3px 0 color-red

h2
  font-weight bold
  margin 1em 0  
  font-size 3em
  color color-teal

h4
  font-weight bold
  color color-red
  text-shadow 3px 3px 0 color-teal
  font-size 3em

header
  background-color #81b9c5
  padding 20px

  .content
    width 100%
    max-width 600px
    margin 0 auto

  img
    width 350px

nav
  background-image url('/assets/denim.jpg')
  background-position 50% 0px
  padding 30px
  height auto

nav ul li
  display inline-block

  a
    padding 10px
    margin 10px
    text-decoration none
    color color-beige
    font-size 2em
    background-color color-red
    box-shadow 3px 3px 0 color-teal
    line-height 2em
    &:hover
      background-color color-teal
      color white
      box-shadow 3px 3px 0 color-red
  
p
  margin 1em 0

.info
  width 100%
  max-width 800px
  padding 20px
  margin 20px
  margin 0 auto
  text-align left

  ul
    padding 20px
    font-size 2em
    list-style-type square
    list-style-position inside

    li
      margin 1em 0

.stellar
  padding-bottom 50px

  h2
    background color-denim
    box-shadow 10px 10px 0 color-red
    color color-beige
    font-size 3em
    padding 20px

  .box
    background color-beige
    box-shadow 10px 10px 0 color-denim

#why
  height auto
  padding 50px 0

#what
  background-image url('/assets/clothesline.jpg')
  background-position 50% 0px
  height auto

#how
  height auto
  padding 50px 0

#where
  background-image url('/assets/denim2.jpg')
  background-position 50% 0px
  height auto

footer
  font-size .8em